.navbar{
    height: 50px;
    display: flex;
    justify-content: center;
    padding-top: 0.6rem;
    border-bottom: 1px solid gray;  
   
}
.navbar a{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 17px;
    align-items:center;
    display: flex;
}
#billDst{
    color: white;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background-color: rgb(103, 177, 190);
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0px;
    padding-left: 20%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-family: 'Texturina', serif;
}
#billImg{
    margin-left: 20%;
    margin-bottom: 0px;
    margin-top:3rem;
    width: 46.55rem;
    height: 20rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}
#billDst input{
    margin-bottom: 5vh;
    width: 15rem;
    padding: 3px;
}
#submit{
    background-color:  #fc1741;
    border: none;
    padding: 8px;
    font-size: 16px;
    border-radius: 0.5rem;
    max-width: 10rem;
    font-family: 'Kaushan Script', cursive;
}
#submit:hover{
    background-color: white;
}